@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
    display: flex;
    flex-direction: column;
    &__boton-detalle-flex {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    &__detalle-proforma {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    &__fieldset {
        border: none;
        margin-top: 1rem;
        padding: 0;
    }
    &__legend {
        color: v.$gris;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    &__campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
        &--row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            a {
                border-radius: 0.5rem;
                width: 32rem;
            }
        }
        &--entrada-producto {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
        &--proforma-producto {
            display: grid;
            grid-template-columns: 4fr 1fr 1fr;
            margin-bottom: 0;
        }
    }
    &__label {
        color: rgba(v.$negro, 0.8);
    }
    &__input,
    &__select {
        padding: 1rem;
        border: 0.1rem solid lighten(v.$azul, 15%);
        border-radius: 0.5rem;
        width: 100%;
        &:focus-visible {
            outline-color: v.$azul;
        }
    }
    &__texto {
        text-align: center;
        margin-top: 3rem;
    }
    &__imagen {
        display: flex;
        justify-content: center;
        img {
            max-width: 20rem;
        }
    }
    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        &--width-auto {
            width: auto;
            margin-bottom: 1.5rem;
            align-self: end;
        }
    }
}
